@model Client;

<dt class="col-sm-2">
	@Html.DisplayNameFor(model => model.Rentals)
</dt>
<dd class="col-sm-10">
	<table class="table">
		<tr>
			<th>Course Title</th>
			<th>Grade</th>
		</tr>
		@foreach (var item in Model.Rentals)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Car.Brand)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TotalCost)
				</td>
			</tr>
		}
	</table>
</dd>