@model CarRentalApp_MVC.Models.Payment
@{
    ViewData["Title"] = "Edit Payment";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPayment" method="post">
            @Html.AntiForgeryToken()

            <input type="hidden" asp-for="PaymentId" />

            <div class="form-group">
                <label class="control-label">Rental Id</label>
                <input asp-for="RentalId" class="form-label" />
            </div>
            <div class="form-group">
                <label class="control-label">Amount</label>
                <input asp-for="Amount" class="form-label" type="number" step="0.01" />
            </div>

            <div class="form-group">
                <label class="control-label">Payment Date</label>
                <input asp-for="PaymentDate" class="form-label" type="date" />
            </div>

            <div class="form-group">
                <label class="control-label">Payment Method</label>
                <input asp-for="PaymentMethod" class="form-label" />
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
